mat-card {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 7.5px;
    margin-bottom: 7.5px;
}

mat-card-content {
    overflow: auto;
    max-height: 300px;
    display: flex;
    flex-direction: column;
}

mat-card-actions {
    display: flex;
    flex-direction: row-reverse;
}