<h1 mat-dialog-title>ユーザー追加</h1>
<div mat-dialog-content>
    <div class="sub">
        <mat-form-field class="userId">
            <input matInput placeholder="ユーザーID" [(ngModel)]="user.userId">
        </mat-form-field>
        <mat-form-field class="name">
            <input matInput placeholder="名前" [(ngModel)]="user.name">
        </mat-form-field>
        <mat-form-field class="password">
            <input matInput placeholder="パスワード" [(ngModel)]="user.password">
        </mat-form-field>
        <mat-form-field class="memo">
            <input matInput placeholder="メモ" [(ngModel)]="user.memo">
        </mat-form-field>
    </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="remove()">削除</button>
  <button mat-button cdkFocusInitial>保存</button>
<!--
  <button mat-button [mat-dialog-close]="" cdkFocusInitial>保存</button>
-->
</div>